<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/pensive.css">
<!--    style csss-->
    <link rel="stylesheet" href="css/style.css">
<!--    font awesome cdn-->
    <title>Daily Journal</title>
    
</head>

 

<body>













   <!-- <nav class="navbar navbar-default header">
    <div class="container">
      <div class="navbar-header">
        <p  style="position: relative; bottom: 23px;" class="navbar-brand "> DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <!-- <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
   </nav> --> 