<%- include("partials/header"); -%>
<div class="profile-info"><div class="profile-all"><div class="profile-check"><img border="0" data-original-height="450" data-original-width="338" height="320" src="images/WhatsApp Image 2023-05-28 at 13.00.54.jpeg" width="240"><div class="profile-name">Prasu Gupta</div><div class="profile-tag">Backend Developer</div></div></div>
<div class="profile-all"> <div class="profile-heading">WHO IS THE CREATOR? WHAT DOES HE SAY?</div>I'm <b><span style="color: #13a7a7;">Prasu Gupta</span></b><b style="color: #13a7a7;"></b>, a Backent Developer.I like making websites. This is a article website in which anyone can create his own article accroding to his topic.
</div>


<div class="article-size">
<b style="color: #13a7a7;">What can i do? &nbsp;<br></b>  <ul><li>Build and maintain websites:<p> My main responsibility is to use various tools, frameworks, and languages to determine how best to develop intuitive, user-friendly prototypes and turn them into websites. This requires an understanding of cross-platform functionality and compatibility.</p></li>

<li>Write high-quality code:<p> To produce sustainable web applications, developers must write clean and easily maintainable code.</p></li>

<li>Perform quality assurance (QA) testing: <p>Create and oversee testing schedules to optimize user interface and experience, ensuring optimal display on various browsers and devices.</p></li>

</div></div>

<p>
   <%= para2 %> 
</p>

<%- include("partials/footer"); -%>
