<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  <link rel="stylesheet" href="/css/styles.css">

 <style>
   body {
      background-image: url('images/Free-Website-BAckgrounds1.jpg');
      background-size: cover;
      background-position: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .button {
      margin: 0 10px;
    }

    .button a {
      display: block;
      padding: 10px 20px;
      background-color: #4A2D27;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 18px;
      transition: background-color 0.3s ease;
    }

    .button a:hover {
      background-color: #ff1f6d;
    }
 </style>
 </head>

  <body >
   



<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" style="color:saddlebrown">Login Here </h1>
    <hr>
    <a class="btn btn-outline-primary" href="/register" role="button">Register</a>
    <a class="btn btn-outline-primary" href="/login" role="button">Login</a>

  </div>
</div> -->
<div class="container">
  <h1 style="color:white">Welcome to Article Generator Website</h1>
  <div class="button-container">
    <div class="button">
      <a href="/register">Sign Up</a>
    </div>
    <div class="button">
      <a href="/login">Sign In</a>
    </div>
  </div>
</div>

</body>
</html>