<%- include("partials/header"); -%>
<div style="min-height:200vh">
<h1 class="postHeading" style="text-align:center; "><%= PostTitle %></h1>
<p class="postPara" style="margin: auto 5rem; text-align: justify;"><%= PostBody %></p>
</div>

<%- include("partials/footer"); -%>